body {
    font-family: Tahoma, Arial;
    background: #f3f7f2;
    background-image: linear-gradient(
        rgba(255,255,255,0.85),
        rgba(255,255,255,0.85)
    );
    text-align: center;
    padding: 30px;
    color: #333;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px #ccc;
}

h1 {
    color: #0b7a53;
}

button {
    background: #0b7a53;
    color: white;
    border: none;
    padding: 12px 18px;
    margin: 6px;
    border-radius: 10px;
    font-size: 16px;
}
